$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$icm-instagram: "\e900";
$icm-left-arrow-min: "\e901";
$icm-molecule: "\e902";
$icm-molecules: "\e903";
$icm-organic: "\e904";
$icm-phone-call: "\e905";
$icm-pinterest-logo-button: "\e906";
$icm-shield: "\e907";
$icm-structure: "\e908";
$icm-telegram: "\e909";
$icm-thermometer: "\e90a";
$icm-tooth: "\e90b";
$icm-vitamins: "\e90c";
$icm-add: "\e90d";
$icm-bone: "\e90e";
$icm-envelope: "\e90f";
$icm-facebook: "\e910";
$icm-first: "\e911";

